<div class="container">
  <div *ngFor="let d of departments" class="item-container">
    <span>{{ d.name }}</span>
    <div class="buttons-container">
      <button mat-flat-button color="primary" (click)="viewEmployees(d)">View employees</button>
      <button mat-flat-button color="warn" (click)="editDepartment(d)">edit</button>
      <button mat-flat-button color="accent" (click)="deleteDepartment(d)">delete</button>
    </div>
  </div>

  <button mat-raised-button (click)="addNewDep()">add new department</button>
</div>
